/* Controle de Páginas */
/* LOGIN  */
.homepageLogin {
  display: flex;
  flex-direction: column;
  /* background-color: #ffffff; */
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.logo-homepage {
  width: 300px;
  height: 120px;
  overflow: hidden;
}
.logo-homepage img {
  width: 100%;
  height: 100%;
}
.message {
  font-size: 2rem;
  color: #40407a;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #0003c2;
  font-family: "IBM Plex Sans Hebrew", sans-serif;
  font-weight: 800;
}
.formLogin {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
  margin-bottom: 20px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  width: 320px;
  height: 280px;
  border-radius: 1rem;
  box-shadow: 0 0 10px #3a3636b6;
}
.formLogin label {
  color: #0004dd;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
}
#email, #password {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  background-color: #cacaca;
  box-shadow: 0 0 3px #000;
}
#email:focus, #password:focus{
  box-shadow: inset 0 0 15px #001eff42;
}
.btn-submit {
  border-radius:0.5rem;
  padding: 1.5rem 0.5rem;
  border: none;
  color: #fff;
  background-color: #363aff;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  transition: background-color 0.5s;
  box-shadow: 0 0 3px #000;
}
.btn-submit:hover {
  background-color: #358614;
}
.homepageLogin a {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #810000;
  letter-spacing: 0.3rem;
  font-family: monospace;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #40407a;
}
.homepageLogin a:hover {
  background-color: #40407a;
  color: white;
}

/* MODAL LOGIN */
